<!DOCTYPE html>
<html>
<head>

<link rel="shortcut icon" type="logo" href="img/logo.ico">
<style>

body  {

    background: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
</style>
	<title>Step Up</title>
</head>
<body>
<audio autoplay>
<source src="mp3/Ciara featuring Chamillionaire - Get Up ft. Chamillionaire.mp3 " type="audio/mpeg">
</audio>
<right>

<right>
<font face="Consolas" color="pink" >
	<center><h1>STEP UP SERIES</h1>
	
	<h3><a href="/up1">STEP UP</a></h3>
	<h3><a href="/up2">STEP UP 2: THE STREETS</a></h3>
	<h3><a href="/up3">STEP UP 3D </a></h3>
	<h3><a href="/up4">STEP UP: REVOLUTIOM</a></h3>
	<h3><a href="/up5">STEP UP: ALL IN</a></h3>
	
	</center>

	
</font>	
</body>
</html>

