<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" type="logo" href="img/logo.ico">
	<title>Capua</title>
	<style>


	body{
		background:url(img/main.jpg) 
		background-repeat: no-repeat;
		background-size: cover;
		background-repeat: top-center;
		background-attachment:fixed; : 
</style>


	<link rel="stylesheet" type="text/css" href="css/up1.css">
	
</head>
<body background="img/main.jpg"> 
<font size = "5" face="Consolas">
<body background="img/main.jpg"> 
<a href="/HOME">HOME</a>
<div id = "app"></div>
</font>
<script type="text/javascript" src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.90/css/materialize.min.js"></script>
<script type="text/javascript" src = "js/up1.js"></script>


</body>
</html>

